---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import MillNameCard from "../components/MillNameCard.astro";

const millnames = await getCollection("millnames");
---

<BaseLayout title="VaultMill">
  <Hero />

  <section class="featured">
    <h2>MillNames</h2>

    <div class="millname-grid">
      {millnames.map((millname) => (
        <MillNameCard millname={millname} />
      ))}
    </div>
  </section>
</BaseLayout>