---
import { getCollection } from "astro:content";

import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import ExecutiveCard from "../components/ExecutiveCard.astro";

const executives = await getCollection(
  "executives",
  ({ data }) => data.published
);
---

<BaseLayout title="VaultMill">
  <Hero />

  <section class="featured">
    <h2>Featured Executives</h2>

    <div class="executive-grid">
      {executives.map((executive) => (
        <ExecutiveCard executive={executive} />
      ))}
    </div>
  </section>
</BaseLayout>